aiohttp>=3.13.5
beanie>=2.1.0
brotli>=1.2.0
email-validator>=2.3.0
fast-depends>=3.0.8
fastapi>=0.136.0
fastapi-cli>=0.0.24
fastapi-cloud-cli>=0.17.0
fastapi-swagger>=0.4.48
grpcio-status>=1.80.0
httptools>=0.7.1
Jinja2>=3.1.6
markdown2>=2.5.5
motor>=3.7.1
openai>=2.32.0
pipdeptree>=2.35.1
psycopg>=3.3.3
psycopg-binary>=3.3.3
pydantic>=2.13.1
pydantic-extra-types>=2.11.2
pydantic-settings>=2.13.1
pymongo>=4.16.0
python-multipart>=0.0.26
python-telegram-bot>=22.7
PyYAML>=6.0.3
redis>=7.4.0
SQLAlchemy>=2.0.49
watchfiles>=1.1.1
weasyprint>=68.1
websockets>=16.0
zopfli>=0.4.1
